# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Install Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install stable Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true
    - uses: jetli/wasm-pack-action@v0.3.0
    - name: Build Rust project
      run: wasm-pack build --out-dir 'package/wasm' --release
    - name: Install dependencies in www directory
      run: npm install
      working-directory: ./www
    - name: Do a test in the www directory
      run: npm run test:ci
      working-directory: ./www